.x-pagerlimitselect {
	font-weight: normal;
	select {
		width: 55px;
		width: 75px\0; /*IE hack*/
		display: inline-block;
		margin: 0 2px;
	}
	>span {
		display: none;
	}
	&.hasLabel>span{
		display: initial;
	}
}