.x-type.btn.btn-link {
  color: #6f6f6f;
}
.x-type.btn.btn-link.active {
  color: #00526e;
}
.x-key {
  display: none;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 8px;
  background-color: #ddd;
  text-align: center;
  color: #333;
  width: 48px;
  opacity: 0.9;
  z-index: 1000;
  padding: 4px 12px;
  font-size: 30px;
}
.x-key-index {
  border-radius: 8px;
  background-color: #ddd;
  color: #333;
  opacity: 0.9;
  float: right;
  margin: 4px;
  height: 98%;
  overflow-y: auto;
  overflow-x: hidden;
}
.x-key-index-pc::-webkit-scrollbar {
  width: 4px;
}
.x-key-index-pc::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
.x-key-index-pc::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.5);
}
.x-key-item {
  cursor: pointer;
  width: 28px;
  height: 24px;
  text-align: center;
  padding-top: 8px;
}
.x-org-checkbox {
  text-align: center;
  padding-top: 12px;
}
.x-org-list-content {
  position: relative;
}
.x-org-image {
  height: 48px;
  width: 58px;
}
.x-icon-lg {
  font-size: 19px;
}
.x-cls-filter {
  color: red;
  cursor: pointer;
}
.x-query-input {
  margin: 4px;
  border: 1px solid #cccccc;
  border-radius: 0;
  height: 39px;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  color: #6f6f6f;
  background-color: #ffffff;
}
.x-query-input input {
  border: 0;
  margin: 0 12px;
}
.x-foreach {
  margin: 4px 4px 0 4px;
}
.x-title {
  background-color: #333333;
  color: #ffffff;
  font-weight: bold;
  font-size: 19px;
  border-radius: 0;
  padding: 4px 4px 4px 8px;
}
