<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!-- ###########################微信支付配置############################## -->
    <add key="appId" value="wx3fb4a0dd8ea0730c"/>
    <add key="appSecret" value="53c7e40f5be2b314c4887fd995471b26"/>
    <add key="token" value="justepX5Weixin"/>
    <add key="aesKey" value="m7NvTQ6OSNLC915MSDr6sXlJVsbZFJ4F7s7FfXNFnLD"/>
    <add key="accessToken" value=""/>
    <add key="expiresIn" value=""/>
    <add key="openId" value=""/>
    <add key="appKey" value="C677D6D838600001EFB0D06C33411588"/>

    <!-- ##########################交易发送地址配置#############################-->
    <!--######(以下配置为PM环境：入网测试环境用，生产环境配置见文档说明)#######-->
    <!-- 签名证书路径 acp_test.sign.pfx-->
    <add key="sdk.signCert.path" value="D:\\certs\\acp_test_sign.pfx" />
    <!-- 签名证书密码 -->
    <add key="sdk.signCert.pwd" value="000000" />
    <!-- 签名证书类型 -->
    <add key="sdk.signCert.type" value="PKCS12" />
    <!-- 加密证书路径 -->
    <add key="sdk.encryptCert.path" value="D:\\certs\\acp_test_verify.cer" />
    <!-- 验签证书目录 -->
    <add key="sdk.validateCert.dir" value="D:\\certs\\" />
    <!-- 前台交易地址 -->
    <add key="sdk.frontTransUrl" value="https://101.231.204.80:5000/gateway/api/frontTransReq.do" />
    <!-- 后台交易地址 -->
    <add key="sdk.backTransUrl" value="https://101.231.204.80:5000/gateway/api/backTransReq.do" />
    <!-- 交易状态查询地址 -->
    <add key="sdk.singleQueryUrl" value="https://101.231.204.80:5000/gateway/api/queryTrans.do" />
    <!-- 文件传输类交易地址 -->
    <add key="sdk.fileTransUrl" value="https://101.231.204.80:9080/" />
    <!-- 批量交易地址 -->
    <add key="sdk.batTransUrl" value="https://101.231.204.80:5000/gateway/api/batchTrans.do" />
    <!-- 有卡交易地址 -->
    <add key="sdk.cardRequestUrl" value="https://101.231.204.80:5000/gateway/api/cardTransReq.do" />
    <!-- app交易地址 手机控件支付使用该地址-->
    <add key="sdk.appRequestUrl" value="https://101.231.204.80:5000/gateway/api/appTransReq.do" />
    <!-- 前台通知地址，填写后台接收银联前台通知的地址 -->
    <add key="frontUrl" value="http://localhost:8080/demo/api_01_gateway/FrontRcvResponse.aspx" />
    <!-- 后台通知地址，填写后台接收银联后台通知的地址，必须外网能访问 -->
    <add key="backUrl" value="http://222.222.222.222:8080/demo/api_01_gateway/BackRcvResponse.aspx" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
      <!-- URLModule为Justep资源URL版本过滤 -->
      <add name="URLModule" type="baas.HttpModule, UrlController"/>
    </httpModules>
    <httpHandlers>
      <add verb="*" path="/baas/*" type="baas.ActionHandler, X5BaasService, Version=1.0.0.0, Culture=neutral"/>
    </httpHandlers>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
      <!-- URLModule为Justep资源URL版本过滤 -->
      <add name="URLModule" type="baas.HttpModule, UrlController"/>
    </modules>
    <handlers>
      <add name="TakeoutHandler" verb="*" path="/baas/*" type="baas.ActionHandler, X5BaasService, Version=1.0.0.0, Culture=neutral"/>
    </handlers>
    <staticContent>
      <mimeMap fileExtension=".w" mimeType="text/html"/>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json"/>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="36500.00:00:00" />
      <!--表示过期时间为100年-->
    </staticContent>
  </system.webServer>
</configuration>