.x-titlebar{ background-color:#282c38;}

.text-black{ color:#212121;}
.text-red{ color:#ed4846;}


.x-classList li{ padding:0 5px; margin-bottom:10px;}
.x-classList li div{ line-height:36px; border:1px solid #f1f1f1;}