.x-numberSelect,
.x-numberSelect[readonly] {
  background: #ffffff url(../../common/css/img/chevron.png) no-repeat 100%;
  padding-right: 16px;
  cursor: default;
}
.x-numberlist {
  position: absolute;
  z-index: 10000;
  margin-bottom: 0;
}
.x-numberlist > .list-group-item {
  text-align: center;
  min-width: 80px;
  border-top-width: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
