.font-gray {color:gray}
.font-bold {font-weight:bold}

/*样式修改*/
.x-panel{ background-color:#f0f0f0;}
.x-titlebar{ background-color:#979797; color:#fff;}

.x-control-group{ background-color:transparent;}
