/*元素选择器，修改表头背景色
thead{
	background-color: #C1D5F8;
}
td{
    border-top: 1px solid #53AFE0;
    border-left: 1px solid #53AFE0;
    border-right: 1px solid #53AFE0;
    border-bottom: 1px solid #53AFE0;
}
thead{
    border-top: 1px solid #53AFE0;
    border-left: 1px solid #53AFE0;
    border-right: 1px solid #53AFE0;
    border-bottom: 1px solid #53AFE0;
}
*/