h4{
	border-left:6px solid #1a93df;
	position:relative;
	padding-right:16px;
	display: inline-block;
	margin-top:15px;
	margin-bottom:15px;
}
h4:after{
	content: "";
    position: absolute;
    height: 100%;
    left: 100%;
    top:0;
    width: 1000px;
    background-color: #f7f7f7;
}
h5{
	color:black;
	text-indent:1em;
}