.portal-main {
	/*未读数样式 */
	.message-count{
		position: absolute;
		padding-top: 0;
		top: 3px;
		left: 40px;
		font-weight:bold; 
		border-radius: 12px;
		font-size:9px;
		background: #ee3e23; 
		color: #fff;
		text-align: center;
		vertical-align: middle;
		display: block;
		min-width: 22px;
		line-height: 20px;
		height: 20px;
	}
	
	/* 相关人组件的样式 */
	 .x-ro-title{
		font-size:13px;
		color:#778c99 ;
		background: #f3f3f3;
		height: 20px;
		line-height: 20px;
		padding-left:10px;
		vertical-align: center;
	}
	
	.x-ros-border, .x-ro-border .x-img-list-border{
		border:none !important;
	}
	
	/* 附件组件的样式 */
	.x-attachment-content{
		border-top: none !important;
	}
	
	.x-card-border{
		border-bottom: 1px solid #f3f3f3 !important;
	}
	
	/*Bootstrap的输入框组样式 */	
	.input-group-addon {
		//background-color: transparent;
		background-color: white;
		border: none;
		font-size:14px;
	}
	
	/*Bootstrap的媒体样式 */	
	.media-body{
		padding-right: 10px;	
	}
	
	
	body{
		font: 14px/1.5 Helvetica,"微软雅黑","",Arial,Tahoma;
	}
	
	/*Bootstrap组件相关样式 */	
	.form-control{
		border: none;
		box-shadow: none;
		font-size:14px;
		height:28px;
		padding:8px 0px;
	}
	
	.has-error.form-control{
		border: none;
		box-shadow: none;
	}
	
	/* 搜索框样式 */
	.smart-filter{
		padding: 8px;
		background: #e5e5e5;
	}
	
	/*列表、详情相关样式 */	
	 .title-row {
		font-size:13px;
		color:#778c99 ;
		background: #f3f3f3;
		height: 20px;
		line-height: 20px;
		padding-left:10px;
		vertical-align: center;
	}
	
	.list-row {
		border-bottom: 1px solid #f3f3f3;
		height: 64px;
		padding-right: 10px;
	}
	
	.close-list-row {
		border-bottom: 1px solid #f3f3f3;
		height: 64px;
		padding-right: 10px;
		background: #e5e5e5;
	}
	
	.content-row {
		border-bottom: 1px solid #f3f3f3;
	}
	
	.input-group-row {
		border-bottom: 1px solid #f3f3f3;
		padding-right: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	.input-row {
		border-bottom: 1px solid #f3f3f3;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.content-first-row {
		height: 32px;
	}
	
	.title-data{
		padding-top: 10px;
		font-size: 15px;
		color: black;
	}
	
	.subTitle-data {
		padding: 13px 0 0 5px;
		font-size: 12px;
		color: #909090;
		font-style: italic;
	}
	
	.content-data{
		padding-top: 4px;
		color:#909090;
		font-size:14px;
		overflow: hidden;white-space: nowrap;text-overflow: ellipsis;
	}
	
	.right-content-data{
		font-size:12px;
		color:#909090;
		text-align:right;
		padding-top:10px;
		//padding-right:10px;
	}
	
	.star-data{
		height: 25px;
		padding-left:10px;
		float:right;
	}
	
	.head-pic-data {
		text-align: center;
	    height:64px;
	    width:64px;
		padding:10px;
		position:relative;
	}

	.debug-mode{
		background: red;
		color: #FFF;
		padding: 6px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-weight: 700;
		font-size: 14px;	
	}
}