.x-key {
  display: none;
  position: absolute;
  top: 40%;
  left: 40%;
  border-radius: 8px;
  background-color: #ddd;
  text-align: center;
  color: #333;
  width: 48px;
  opacity: 0.9;
  z-index: 1000;
  padding: 4px 12px;
  font-size: 28px;
}
.x-key-index {
  border-radius: 8px;
  background-color: #ddd;
  color: #333;
  opacity: 0.9;
  float: right;
  margin: 4px;
  height: 98%;
  overflow-y: auto;
  overflow-x: hidden;
}
.x-key-item {
  cursor: pointer;
  width: 28px;
  height: 24px;
  text-align: center;
  padding-top: 8px;
}
.x-org-checkbox {
  text-align: center;
  padding-top: 12px;
}
.x-org-list-content {
  position: relative;
}
.x-org-image {
  height: 48px;
  width: 48px;
}
.x-icon-lg {
  font-size: 18px;
}
.x-cls-filter {
  color: red;
  cursor: pointer;
}
.x-query-input {
  margin: 4px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  height: 38px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
}
.x-query-input input {
  border: 0;
  margin: 0 12px;
}
.x-foreach {
  margin: 4px 4px 0 4px;
}
.x-title {
  background-color: #2fa4e7;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 4px;
  padding: 4px 4px 4px 8px;
}
