h5 ,.h5{ color:#000; font-size:16px;}

.img1{ height:200px;}
.img_new{ width:100px; height:70px;}
.img_small{ height:15px;}

.btn i{ font-size:20px;}

/*搜索*/
.x-seach{ background-color:#f6f6f6; display:none;}
.x-seach span{ margin:10px 10px 0 0;}

/*切换图片标题*/
.x-banner{ overflow-x:hidden;}
.x-banner .carousel-indicators{ bottom:20px; margin-left:10%;}
.x-banner .carousel-indicators .active{ width:8px; height:8px;}
.x-banner .carousel-indicators li{ width:6px; height:6px;}
.x-banner .x-contents .x-contents-content .x-title{ background-color:#fff; padding:5px;}

/*左右内边距*/
.x-wangyi.panel{ margin-bottom:10px;}
.x-wangyi.panel > .panel-heading .panel-title{ color:#333;}
.x-wangyi .list-group-item{ border-radius:0;}
.x-wangyi .list-group-item:last-child{ border-bottom:0;}

.o-nomargintop{ margin-top:0;}
.o-nomargin{ margin-left:0; margin-right:0;}
