h5 ,.h5{ color:#000; font-size:16px;}

.text-danger{ color:#ea413c;}
.text-black{ color:#212121;}
.text-white{ color:#fff;}

.img_new{ width:100px; height:70px;}
.img_big1{ width:132px;height:100px;}
.img_big2{ width:100%; height:200px;}
.img_small{ width:15px; height:15px;}
.img_order{ height:25px;}

.x-titlebar{ background-color:#ea413c; font-size:14px;}

.col-xs-5, .col-xs-7{ padding:0;}

.panel-heading{ padding-left:0;}

.btn.x-gray{ border-color:#c1c1c1;}

/*导航*/
.x-nav-guide{ margin-top:8px;}
.x-nav-guide .btn-link{ font-weight:normal; color:#fdb8b6;}
.x-nav-guide .btn{height:40px; border-top:0;}
.x-nav-guide .btn.active{ border-bottom:2px solid #fff; color:#fff; }

/*没有左右边距*/
.x-noPadding{ padding-left:0; padding-right:0;}

.o-nomargintop{ margin-top:0;}