.div{
	background: url(./img/1.jpg);
}
.hr{
	margin: 3px 0;
	border-top: 1px solid #828080;
}
.image{
	margin-left: 4px;
}
.div2{
	margin-left: 30px;
	padding-top: 50px;
}
.div3{
	margin-left: 30px;
	padding-top: 80px;
}
.div4{
	margin-top: 20px;
}
.x-label-edit{
	margin-left: 30px;
}
.label1{
	margin: 10px 0 0 10px;
}
.x-output{
	margin-top:10px;
	padding: 0 0 0 10px;
}
.btn1{
	background-color: #8CACDD;
}