.div{
	margin-left: 20px;
}
.btn{
	margin-left: 20px;
}
.x-label{
	margin-left: 20px;
}
.x-contents{
	border: 1px solid rgb(245, 239, 239);
}
.span_title{
	margin-left: 150px;
	font-size: 200%;
}
.x-titlebar{
	background-color:#2fa4e7
}