.x-state-default, .x-grid-widget-content .x-state-default, .x-grid-widget-header .x-state-default {
    background-image: linear-gradient(to bottom, #2C90E6 0%, #ffffff 100%);
    display: none;
}
.x-control-group{
	padding: 0;
}
.icon-chevron-left{
	margin-right: 8px;
}
.btn1{
	margin-top: 60px;
}
.x-output{
	padding-left: 35px;
}
.list-group-item{
	padding: 2px;
}
.div3{
	overflow: scroll;
	overflow-x:hidden; 
}
.div6{
	overflow: hidden;
}
.col1{
	border: 1px solid #DAF1F8;
}
.label5{
	margin-top: 170px;
}
.label4{
	margin-top: 7px;
}
.btn2{
	margin-left: 15px;
}
.window{
	overflow: hidden;
}
.x-titlebar{
	background-color:#2fa4e7
}