<?xml version="1.0" encoding="UTF-8"?>

<div xmlns="http://www.w3.org/1999/xhtml" xid="window" class="window cmUr67z" component="$model/UI2/system/components/justep/window/window" design="device:pc" data-bind="component:{name:'$model/UI2/system/components/justep/window/window'}" __cid="cmUr67z" components="$model/UI2/system/components/justep/model/model,$model/UI2/system/components/justep/loadingBar/loadingBar,$model/UI2/system/components/justep/button/button,$model/UI2/system/components/justep/controlGroup/controlGroup,$model/UI2/system/components/justep/popMenu/popMenu,$model/UI2/system/components/justep/menu/menu,$model/UI2/system/components/justep/window/window,">  
  <style xmlns="" xmlns:xhtml="http://www.w3.org/1999/xhtml">.x-control-group.cmUr67z{padding: 0; margin: 1%; border: 1px solid rgb(232, 232, 232)}</style>  
  <div xmlns="" component="$model/UI2/system/components/justep/model/model" xid="model" style="display:none" data-bind="component:{name:'$model/UI2/system/components/justep/model/model'}" __cid="cmUr67z" class="cmUr67z"/>  
  <div xmlns="" component="$model/UI2/system/components/justep/popMenu/popMenu" class="x-popMenu cmUr67z" xid="popMenu1" data-bind="component:{name:'$model/UI2/system/components/justep/popMenu/popMenu'}" data-config="{&quot;anchor&quot;:&quot;moreOne&quot;,&quot;direction&quot;:&quot;left-bottom&quot;}" __cid="cmUr67z"> 
    <div class="x-popMenu-overlay cmUr67z" xid="div6" __cid="cmUr67z"/>  
    <ul component="$model/UI2/system/components/justep/menu/menu" class="x-menu dropdown-menu x-popMenu-content cmUr67z" xid="menu1" data-bind="component:{name:'$model/UI2/system/components/justep/menu/menu'}" __cid="cmUr67z"> 
      <li class="x-menu-item cmUr67z" xid="item1" __cid="cmUr67z"> 
        <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link cmUr67z" xid="jsBtn" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:jsBtnClick" data-config="{&quot;label&quot;:&quot;js代码&quot;}" __cid="cmUr67z"> 
          <i xid="i7" __cid="cmUr67z" class="cmUr67z"/>  
          <span xid="span13" __cid="cmUr67z" class="cmUr67z">js代码</span> 
        </a> 
      </li>  
      <li class="x-menu-item cmUr67z" xid="item2" __cid="cmUr67z"> 
        <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link cmUr67z" xid="sourceBtnOne" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:sourceBtnOne" data-config="{&quot;label&quot;:&quot;源码&quot;}" __cid="cmUr67z"> 
          <i xid="i8" __cid="cmUr67z" class="cmUr67z"/>  
          <span xid="span14" __cid="cmUr67z" class="cmUr67z">源码</span> 
        </a> 
      </li> 
    </ul> 
  </div>  
  <div xmlns="" component="$model/UI2/system/components/justep/controlGroup/controlGroup" class="x-control-group pull-left cmUr67z" xid="controlGroupOne" style="width:64%;height:350px;" data-bind="component:{name:'$model/UI2/system/components/justep/controlGroup/controlGroup'}" data-config="{&quot;title&quot;:&quot;数据统计&quot;}" __cid="cmUr67z"> 
    <div class="x-control-group-title cmUr67z" xid="controlGroupTitle1" style="height:40px;" __cid="cmUr67z"> 
      <span xid="span1" __cid="cmUr67z" class="cmUr67z">title</span>  
      <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cmUr67z" xid="moreOne" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:showPopMenuOne" data-config="{&quot;label&quot;:&quot;更多&quot;}" __cid="cmUr67z"> 
        <i xid="i1" __cid="cmUr67z" class="cmUr67z"/>  
        <span xid="span6" __cid="cmUr67z" class="cmUr67z">更多</span> 
      </a> 
    </div>  
    <div xid="div1" style="height:251px;width:100%;white-space:nowrap;overflow:hidden;" class="div1 cmUr67z" __cid="cmUr67z"> 
      <img src="@justepContextPath@/v_d1d8dee9bc7246a89536e874a3e7a916l_zh_CNs_desktopd_pc/demo/pcSample/layout/img/information21.png" alt="" xid="image1" class="clearfix center-block cmUr67z" __cid="cmUr67z"/> 
    </div> 
  </div>  
  <div xmlns="" component="$model/UI2/system/components/justep/controlGroup/controlGroup" class="x-control-group pull-right cmUr67z" xid="controlGroupTwo" style="width:32%;height:350px;" data-bind="component:{name:'$model/UI2/system/components/justep/controlGroup/controlGroup'}" data-config="{&quot;title&quot;:&quot;最新消息&quot;}" __cid="cmUr67z"> 
    <div class="x-control-group-title cmUr67z" xid="controlGroupTitle2" style="height:40px;" __cid="cmUr67z"> 
      <span xid="span2" __cid="cmUr67z" class="cmUr67z">title</span>  
      <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cmUr67z" xid="moreTwo" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:showPopMenuTwo" data-config="{&quot;label&quot;:&quot;更多&quot;}" __cid="cmUr67z"> 
        <i xid="i2" __cid="cmUr67z" class="cmUr67z"/>  
        <span xid="span7" __cid="cmUr67z" class="cmUr67z">更多</span> 
      </a> 
    </div>  
    <div xid="div2" style="width:100%;height:280px;white-space:nowrap;overflow:hidden;" class="div2 cmUr67z" __cid="cmUr67z"> 
      <img src="@justepContextPath@/v_b642c8c9feee4a17a9d2cb70274496dfl_zh_CNs_desktopd_pc/demo/pcSample/layout/img/information22.png" alt="" xid="image2" class="center-block cmUr67z" __cid="cmUr67z"/> 
    </div> 
  </div>  
  <div xmlns="" component="$model/UI2/system/components/justep/controlGroup/controlGroup" class="x-control-group pull-left cmUr67z" xid="controlGroupThree" style="width:31%;height:350px;" data-bind="component:{name:'$model/UI2/system/components/justep/controlGroup/controlGroup'}" data-config="{&quot;title&quot;:&quot;代办事项&quot;}" __cid="cmUr67z"> 
    <div class="x-control-group-title cmUr67z" xid="controlGroupTitle3" style="height:40px;" __cid="cmUr67z"> 
      <span xid="span3" __cid="cmUr67z" class="cmUr67z">title</span>  
      <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cmUr67z" xid="moreThree" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:moreThreeClick" data-config="{&quot;label&quot;:&quot;更多&quot;}" __cid="cmUr67z"> 
        <i xid="i3" __cid="cmUr67z" class="cmUr67z"/>  
        <span xid="span8" __cid="cmUr67z" class="cmUr67z">更多</span> 
      </a> 
    </div>  
    <div xid="div3" style="width:100%;height:230px;white-space:nowrap;overflow:hidden;" class="div3 cmUr67z" __cid="cmUr67z"> 
      <img src="@justepContextPath@/v_ff3e5cb75d204374900fb12d0c893230l_zh_CNs_desktopd_pc/demo/pcSample/layout/img/information23.png" alt="" xid="image3" class="clearfix center-block cmUr67z" __cid="cmUr67z"/> 
    </div> 
  </div>  
  <div xmlns="" component="$model/UI2/system/components/justep/controlGroup/controlGroup" class="x-control-group pull-left cmUr67z" xid="controlGroupFour" style="width:31%;height:350px;" data-bind="component:{name:'$model/UI2/system/components/justep/controlGroup/controlGroup'}" data-config="{&quot;title&quot;:&quot;常用工具&quot;}" __cid="cmUr67z"> 
    <div class="x-control-group-title cmUr67z" xid="controlGroupTitle4" style="height:40px;" __cid="cmUr67z"> 
      <span xid="span4" __cid="cmUr67z" class="cmUr67z">title</span>  
      <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cmUr67z" xid="moreFour" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:moreFourClick" data-config="{&quot;label&quot;:&quot;更多&quot;}" __cid="cmUr67z"> 
        <i xid="i4" __cid="cmUr67z" class="cmUr67z"/>  
        <span xid="span9" __cid="cmUr67z" class="cmUr67z">更多</span> 
      </a> 
    </div>  
    <div xid="div4" style="height:230px;width:100%;white-space:nowrap;overflow:hidden;" class="div4 cmUr67z" __cid="cmUr67z"> 
      <img src="@justepContextPath@/v_838a2a4f84a54ff5a48bce5bc97494fal_zh_CNs_desktopd_pc/demo/pcSample/layout/img/information24.png" alt="" xid="image4" class="clearfix center-block cmUr67z" __cid="cmUr67z"/> 
    </div> 
  </div>  
  <div xmlns="" component="$model/UI2/system/components/justep/controlGroup/controlGroup" class="x-control-group pull-right cmUr67z" xid="controlGroupFive" style="width:32%;height:350px;" data-bind="component:{name:'$model/UI2/system/components/justep/controlGroup/controlGroup'}" data-config="{&quot;title&quot;:&quot;信息统计&quot;}" __cid="cmUr67z"> 
    <div class="x-control-group-title cmUr67z" xid="controlGroupTitle5" style="height:40px;" __cid="cmUr67z"> 
      <span xid="span5" __cid="cmUr67z" class="cmUr67z">title</span>  
      <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cmUr67z" xid="moreFive" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:moreFiveClick" data-config="{&quot;label&quot;:&quot;更多&quot;}" __cid="cmUr67z"> 
        <i xid="i5" __cid="cmUr67z" class="cmUr67z"/>  
        <span xid="span10" __cid="cmUr67z" class="cmUr67z">更多</span> 
      </a> 
    </div>  
    <div xid="div5" class="div5 cmUr67z" style="height:230px;width:100%;" __cid="cmUr67z"> 
      <img src="@justepContextPath@/v_30a61a2d61e24e1a8f1ce95b84cb11fal_zh_CNs_desktopd_pc/demo/pcSample/layout/img/information25.png" alt="" xid="image5" class="clearfix center-block cmUr67z" __cid="cmUr67z"/> 
    </div> 
  </div>  
  <div xmlns="" component="$model/UI2/system/components/justep/popMenu/popMenu" class="x-popMenu cmUr67z" xid="popMenu2" data-bind="component:{name:'$model/UI2/system/components/justep/popMenu/popMenu'}" data-config="{&quot;anchor&quot;:&quot;moreTwo&quot;,&quot;direction&quot;:&quot;left-bottom&quot;}" __cid="cmUr67z"> 
    <div class="x-popMenu-overlay cmUr67z" xid="div7" __cid="cmUr67z"/>  
    <ul component="$model/UI2/system/components/justep/menu/menu" class="x-menu dropdown-menu x-popMenu-content cmUr67z" xid="menu2" data-bind="component:{name:'$model/UI2/system/components/justep/menu/menu'}" __cid="cmUr67z"> 
      <li class="x-menu-item cmUr67z" xid="item4" __cid="cmUr67z"> 
        <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link cmUr67z" xid="jsBtnTwo" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:jsBtnClick" data-config="{&quot;label&quot;:&quot;js代码&quot;}" __cid="cmUr67z"> 
          <i xid="i10" __cid="cmUr67z" class="cmUr67z"/>  
          <span xid="span16" __cid="cmUr67z" class="cmUr67z">js代码</span> 
        </a> 
      </li>  
      <li class="x-menu-item cmUr67z" xid="item3" __cid="cmUr67z"> 
        <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link cmUr67z" xid="SourceTwo" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:button3" data-config="{&quot;label&quot;:&quot;源码&quot;}" __cid="cmUr67z"> 
          <i xid="i9" __cid="cmUr67z" class="cmUr67z"/>  
          <span xid="span15" __cid="cmUr67z" class="cmUr67z">源码</span> 
        </a> 
      </li> 
    </ul> 
  </div>  
  <div xmlns="" component="$model/UI2/system/components/justep/popMenu/popMenu" class="x-popMenu cmUr67z" xid="popMenu3" data-bind="component:{name:'$model/UI2/system/components/justep/popMenu/popMenu'}" data-config="{&quot;anchor&quot;:&quot;moreThree&quot;,&quot;direction&quot;:&quot;left-bottom&quot;}" __cid="cmUr67z"> 
    <div class="x-popMenu-overlay cmUr67z" xid="div8" __cid="cmUr67z"/>  
    <ul component="$model/UI2/system/components/justep/menu/menu" class="x-menu dropdown-menu x-popMenu-content cmUr67z" xid="menu3" data-bind="component:{name:'$model/UI2/system/components/justep/menu/menu'}" __cid="cmUr67z"> 
      <li class="x-menu-item cmUr67z" xid="item6" __cid="cmUr67z"> 
        <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link cmUr67z" xid="jsBtnThree" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:jsBtnClick" data-config="{&quot;label&quot;:&quot;js代码&quot;}" __cid="cmUr67z"> 
          <i xid="i12" __cid="cmUr67z" class="cmUr67z"/>  
          <span xid="span18" __cid="cmUr67z" class="cmUr67z">js代码</span> 
        </a> 
      </li>  
      <li class="x-menu-item cmUr67z" xid="item5" __cid="cmUr67z"> 
        <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link cmUr67z" xid="sourceBtnThree" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:sourceBtnThree" data-config="{&quot;label&quot;:&quot;源码&quot;}" __cid="cmUr67z"> 
          <i xid="i11" __cid="cmUr67z" class="cmUr67z"/>  
          <span xid="span17" __cid="cmUr67z" class="cmUr67z">源码</span> 
        </a> 
      </li> 
    </ul> 
  </div>  
  <div xmlns="" component="$model/UI2/system/components/justep/popMenu/popMenu" class="x-popMenu cmUr67z" xid="popMenu4" data-bind="component:{name:'$model/UI2/system/components/justep/popMenu/popMenu'}" data-config="{&quot;anchor&quot;:&quot;moreFour&quot;,&quot;direction&quot;:&quot;left-bottom&quot;}" __cid="cmUr67z"> 
    <div class="x-popMenu-overlay cmUr67z" xid="div9" __cid="cmUr67z"/>  
    <ul component="$model/UI2/system/components/justep/menu/menu" class="x-menu dropdown-menu x-popMenu-content cmUr67z" xid="menu4" data-bind="component:{name:'$model/UI2/system/components/justep/menu/menu'}" __cid="cmUr67z"> 
      <li class="x-menu-item cmUr67z" xid="item8" __cid="cmUr67z"> 
        <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link cmUr67z" xid="jsBtnFour" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:jsBtnClick" data-config="{&quot;label&quot;:&quot;js代码&quot;}" __cid="cmUr67z"> 
          <i xid="i14" __cid="cmUr67z" class="cmUr67z"/>  
          <span xid="span20" __cid="cmUr67z" class="cmUr67z">js代码</span> 
        </a> 
      </li>  
      <li class="x-menu-item cmUr67z" xid="item7" __cid="cmUr67z"> 
        <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link cmUr67z" xid="sourceFour" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:sourceFour" data-config="{&quot;label&quot;:&quot;源码&quot;}" __cid="cmUr67z"> 
          <i xid="i13" __cid="cmUr67z" class="cmUr67z"/>  
          <span xid="span19" __cid="cmUr67z" class="cmUr67z">源码</span> 
        </a> 
      </li> 
    </ul> 
  </div>  
  <div xmlns="" component="$model/UI2/system/components/justep/popMenu/popMenu" class="x-popMenu cmUr67z" xid="popMenu5" data-bind="component:{name:'$model/UI2/system/components/justep/popMenu/popMenu'}" data-config="{&quot;anchor&quot;:&quot;moreFive&quot;,&quot;direction&quot;:&quot;left-bottom&quot;}" __cid="cmUr67z"> 
    <div class="x-popMenu-overlay cmUr67z" xid="div10" __cid="cmUr67z"/>  
    <ul component="$model/UI2/system/components/justep/menu/menu" class="x-menu dropdown-menu x-popMenu-content cmUr67z" xid="menu5" data-bind="component:{name:'$model/UI2/system/components/justep/menu/menu'}" __cid="cmUr67z"> 
      <li class="x-menu-item cmUr67z" xid="item10" __cid="cmUr67z"> 
        <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link cmUr67z" xid="jsBtnFive" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:jsBtnClick" data-config="{&quot;label&quot;:&quot;js代码&quot;}" __cid="cmUr67z"> 
          <i xid="i16" __cid="cmUr67z" class="cmUr67z"/>  
          <span xid="span22" __cid="cmUr67z" class="cmUr67z">js代码</span> 
        </a> 
      </li>  
      <li class="x-menu-item cmUr67z" xid="item9" __cid="cmUr67z"> 
        <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link cmUr67z" xid="sourceFive" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:sourceFive" data-config="{&quot;label&quot;:&quot;源码&quot;}" __cid="cmUr67z"> 
          <i xid="i15" __cid="cmUr67z" class="cmUr67z"/>  
          <span xid="span21" __cid="cmUr67z" class="cmUr67z">源码</span> 
        </a> 
      </li> 
    </ul> 
  </div> 
</div>
