.mydesigner {
  background: url(../img/grid_10.png) repeat;
}
.tool-item {
  height: 22px;
  border: 1px solid #baceeb;
  width: 52px;
  padding: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #E8EFF8;
  margin-right: 2px;
}
.tool-item-over {
  background: url(../img/button.gif) repeat-x;
  border: 1px solid green;
}
.toolbox-title {
  border-bottom: 1px solid #8DB2E3;
  font-size: 12pt;
  font-size: 12px;
  font-weight: bold;
  background-color: #e4ecf8;
  line-height: 20px;
  height: 20px;
  margin-bottom: 2px;
  padding: 2px;
}
.canvas-toolbar {
  padding-top: 2px;
  padding-bottom: 2px;
}
.toolbox-title span {
  background-image: url(../img/activities.gif);
  background-repeat: no-repeat;
  padding-left: 20px;
}
.toolbox-item {
  font-size: 11pt;
  padding-top: 2px;
  padding-bottom: 2px;
  background-image: url(../img/activities.gif);
}
.toolbox-items,
.prop-items {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 10pt;
}
.toolbox-items li,
.prop-items li {
  position: relative;
  padding-left: 2px;
  margin: 0;
  list-style: none;
  vertical-align: middle;
  text-align: left;
  white-space: nowrap;
  height: 24px;
}
.toolbox-items li a {
  padding: 0;
  margin: 0 0px 0 0;
  height: 18px;
  line-height: 18px;
  cursor: pointer;
  color: #333;
  text-decoration: none;
  padding-left: 20px;
  display: block;
  background-repeat: no-repeat;
}
.prop-input {
  border: 1px solid #baceeb;
  height: 16px;
}
.checkbox {
  vertical-align: middle;
  margin-top: 0;
}
.business-activity {
  background-image: url(../img/biz.png);
}
.if-else-activity {
  background-image: url(../img/fork.png);
}
.condition-activity {
  background-image: url(../img/cond.png);
}
.xor-activity {
  background-image: url(../img/xor.png);
}
.and-activity {
  background-image: url(../img/and.png);
}
.cancel-selected {
  background-image: url(../img/select.gif);
}
.connection {
  background-image: url(../img/transition.png);
}
.end {
  background-image: url(../img/end.png);
}
.start {
  background-image: url(../img/start.png);
}
.tool-item .icon {
  padding-left: 16px;
  background-repeat: no-repeat;
  padding-top: 2px;
  padding-bottom: 2px;
}
.tool-item .copy {
  background-image: url(../img/copy.gif);
}
.tool-item .remove {
  background-image: url(../img/remove.gif);
}
.tool-item .h-align {
  background-image: url(../img/align_v_centers.gif);
}
.tool-item .v-align {
  background-image: url(../img/align_h_centers.gif);
}
.tool-item .undo {
  background-image: url(../img/undo.gif);
}
.tool-item .redo {
  background-image: url(../img/redo.gif);
}
.tool-item .load-process {
  background-image: url(../img/trackChart.gif);
}
.tool-item .load-template {
  background-image: url(../img/template.gif);
}
.toolbox-items li a:hover {
  background-color: blue;
  color: white;
}
v\:* {
  behavior: url(#default#VML);
}
