.approve{
	margin-top:10px !important;
	padding-top: 5px !important;	
	height:45px;
	color:#FFFFFF;
	background-color:#2fa4e7;
}

.approve-left{
	padding-top: 5px;	
	text-align:right;
	font-weight:bold;
	font-size:16px
}

.approve-right{
	padding-top: 8px;	
}

