.x-list-padding{
	padding-left:30px;
	padding-right:15px;
}
.x-panel-content::before{
	content: '';
    position: absolute;
    top: 30px;
    left: 30px;
    height: 100%;
    width: 1px;
    background: #E8E8E8;
}
.timeline-block{
	position: relative;
	margin-top:35px;
}
.timeline-image{
	position:absolute;
	height:30px;
	width:30px;
	top:-15px;
	left:-15px;
	border-radius:50%;
	z-index:100;
}
.timeline-content{
	position:relative;
	border:1px solid #E8E8E8;
	border-left:0;
	padding-left:15px;
	padding-right:10px;
	
}
h5{
	margin-bottom:0;
}