.x-track-line {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 2px;
}
.x-track-finished-line {
  background: green;
}
.x-track-no-execute-line {
  background: black;
}
.x-track-back-line {
  background: red;
}
.x-track-activity {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 20px;
  border-style: solid;
}
.x-track-active-activity {
  border: 1px #0080FF solid;
  background: #0080FF;
}
.x-track-finished-activity {
  background: green;
  border: 1px green solid;
}
.x-track-abort-activity {
  background: #ff6666;
  border: 1px #ff6666 solid;
}
.x-track-suspend-activity {
  background: yellow;
  border: 1px yellow solid;
}
.x-track-container {
  /*overflow:auto;*/
}
.x-track,
.x-pert {
  width: 100%;
  height: 100%;
}
.x-processChart {
  width: 100%;
  height: 100%;
  position: relative;
}
.x-track-help {
  /*display: none;*/
}
