.text-black{ color:#212121;}
.x-titlebar{ background-color:#0177b5;}

.btn-group{ height:40px; background-color:#0177b5; border:0;}
.btn-group .active{ color:#fff;}
.btn-group a{ color:#98bdd8;}

.x-card.btn-group .btn, .x-card.btn-group .btn:hover, .x-card.btn-group .btn:active, .x-card.btn-group .btn:focus{ border-top:0;}
.x-cards{ padding-top:0;}
.media{ margin-top:10px;}

