.x-list{ padding:5.4% 0 0; background:url(./img/menu331Bg.jpg) no-repeat center top; background-size:cover; margin:0px 0px}
.x-list ul li{ line-height:70px; padding:0 15px; color:#fff;}
.x-list ul li:nth-child(2n-1){ text-align:right;}