<?xml version="1.0" encoding="UTF-8"?>

<div xmlns="http://www.w3.org/1999/xhtml" xid="window" class="window cYVb2Qv" component="$model/UI2/system/components/justep/window/window" design="device:pc" data-bind="component:{name:'$model/UI2/system/components/justep/window/window'}" __cid="cYVb2Qv" components="$model/UI2/system/components/justep/model/model,$model/UI2/system/components/justep/contents/content,$model/UI2/system/components/justep/loadingBar/loadingBar,$model/UI2/system/components/justep/button/button,$model/UI2/system/components/justep/controlGroup/controlGroup,$model/UI2/system/components/justep/row/row,$model/UI2/system/components/justep/list/list,$model/UI2/system/components/justep/output/output,$model/UI2/system/components/justep/contents/contents,$model/UI2/system/components/justep/data/data,$model/UI2/system/components/justep/window/window,$model/UI2/system/components/justep/labelEdit/labelEdit,">  
  <style xmlns="" xmlns:xhtml="http://www.w3.org/1999/xhtml">.x-control-group.cYVb2Qv{padding: 0; margin: 1%; border: 1px solid rgb(232, 232, 232)} .icon-android-contact.cYVb2Qv{font-size: 150%} .icon-android-mail.cYVb2Qv{font-size: 150%} .icon-android-star.cYVb2Qv{font-size: 150%} .icon-android-book.cYVb2Qv{font-size: 150%} .icon-android-calendar.cYVb2Qv{font-size: 150%} .icon-edit.cYVb2Qv{font-size: 150%} .image.cYVb2Qv{margin-top: 10px; margin-left: 10px} .div9.cYVb2Qv{margin-top: 15px; margin-left: 20px}</style>  
  <div xmlns="" component="$model/UI2/system/components/justep/model/model" xid="model" style="display:none" data-bind="component:{name:'$model/UI2/system/components/justep/model/model'}" __cid="cYVb2Qv" class="cYVb2Qv"/>  
  <div xmlns="" component="$model/UI2/system/components/justep/contents/contents" class="x-contents x-full cYVb2Qv" xid="contents1" data-bind="component:{name:'$model/UI2/system/components/justep/contents/contents'}" data-config="{&quot;active&quot;:0}" __cid="cYVb2Qv"> 
    <div class="x-contents-content active cYVb2Qv" xid="content1" component="$model/UI2/system/components/justep/contents/content" data-bind="component:{name:'$model/UI2/system/components/justep/contents/content'}" __cid="cYVb2Qv"> 
      <div component="$model/UI2/system/components/justep/controlGroup/controlGroup" class="x-control-group pull-left cYVb2Qv" xid="controlGroupOne" style="width:48%;height:250px;" data-bind="component:{name:'$model/UI2/system/components/justep/controlGroup/controlGroup'}" data-config="{&quot;title&quot;:&quot;个人信息&quot;}" __cid="cYVb2Qv"> 
        <div class="x-control-group-title cYVb2Qv" xid="controlGroupTitle1" style="height:40px;" __cid="cYVb2Qv"> 
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-only-icon cYVb2Qv" xid="button2" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-config="{&quot;icon&quot;:&quot;icon-android-contact&quot;,&quot;label&quot;:&quot;button&quot;}" __cid="cYVb2Qv"> 
            <i xid="i2" class="icon-android-contact cYVb2Qv" __cid="cYVb2Qv"/>  
            <span xid="span14" __cid="cYVb2Qv" class="cYVb2Qv"/> 
          </a>  
          <span xid="span1" __cid="cYVb2Qv" class="cYVb2Qv"/>  
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cYVb2Qv" xid="sourceBtn" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'},visible:isVisible" data-events="onClick:sourceClick" data-config="{&quot;label&quot;:&quot;源码&quot;}" __cid="cYVb2Qv"> 
            <i xid="i3" __cid="cYVb2Qv" class="cYVb2Qv"/>  
            <span xid="span2" __cid="cYVb2Qv" class="cYVb2Qv">源码</span> 
          </a>  
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cYVb2Qv" xid="jsBtn" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:jsClick" data-config="{&quot;label&quot;:&quot;js&quot;}" __cid="cYVb2Qv"> 
            <i xid="i3" __cid="cYVb2Qv" class="cYVb2Qv"/>  
            <span xid="span3" __cid="cYVb2Qv" class="cYVb2Qv">js</span> 
          </a> 
        </div>  
        <div xid="div8" style="height:138px;" __cid="cYVb2Qv" class="cYVb2Qv"> 
          <img src="@justepContextPath@/v_ea48d635f4fc4955adbab8470240622bl_zh_CNs_desktopd_pc/demo/pcSample/layout/img/2.jpg" alt="" xid="image1" style="height:114px;width:80px;" class="pull-left image cYVb2Qv" __cid="cYVb2Qv"/>  
          <div xid="div9" style="height:117px;width:auto;" class="pull-left div9 cYVb2Qv" __cid="cYVb2Qv"> 
            <div component="$model/UI2/system/components/justep/labelEdit/labelEdit" class="x-label-edit x-label30 cYVb2Qv" xid="labelOutput1" style="width:173px;height:31px;" data-bind="component:{name:'$model/UI2/system/components/justep/labelEdit/labelEdit'}" __cid="cYVb2Qv"> 
              <label class="x-label cYVb2Qv" xid="label1" __cid="cYVb2Qv" data-bind="text:userData.label('fName')+&quot;：&quot;"/>  
              <div component="$model/UI2/system/components/justep/output/output" class="x-output x-edit cYVb2Qv" xid="output1" data-bind="component:{ref:userData.ref('fName'),name:'$model/UI2/system/components/justep/output/output'}" __cid="cYVb2Qv"/> 
            </div>  
            <div component="$model/UI2/system/components/justep/labelEdit/labelEdit" class="x-label-edit x-label30 cYVb2Qv" xid="labelOutput2" style="width:173px;height:31px;" data-bind="component:{name:'$model/UI2/system/components/justep/labelEdit/labelEdit'}" __cid="cYVb2Qv"> 
              <label class="x-label cYVb2Qv" xid="label2" __cid="cYVb2Qv" data-bind="text:userData.label('fAddress')+&quot;：&quot;"/>  
              <div component="$model/UI2/system/components/justep/output/output" class="x-output x-edit cYVb2Qv" xid="output2" data-bind="component:{ref:userData.ref('fAddress'),name:'$model/UI2/system/components/justep/output/output'}" __cid="cYVb2Qv"/> 
            </div> 
          </div> 
        </div> 
      </div>  
      <div component="$model/UI2/system/components/justep/controlGroup/controlGroup" class="x-control-group pull-right cYVb2Qv" xid="controlGroupTwo" style="width:48%;height:250px;" data-bind="component:{name:'$model/UI2/system/components/justep/controlGroup/controlGroup'}" data-config="{&quot;title&quot;:&quot;信息接收&quot;}" __cid="cYVb2Qv"> 
        <div class="x-control-group-title cYVb2Qv" xid="controlGroupTitle4" style="height:40px;" __cid="cYVb2Qv"> 
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm btn-only-icon cYVb2Qv" xid="button1" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-config="{&quot;disabled&quot;:true,&quot;icon&quot;:&quot;icon-android-mail&quot;,&quot;label&quot;:&quot;button&quot;}" __cid="cYVb2Qv"> 
            <i xid="i1" class="icon-android-mail cYVb2Qv" __cid="cYVb2Qv"/>  
            <span xid="span7" __cid="cYVb2Qv" class="cYVb2Qv"/> 
          </a>  
          <span xid="span4" __cid="cYVb2Qv" class="cYVb2Qv">title</span>  
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cYVb2Qv" xid="sourceBtnTwo" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:sourceBtnTwoClick" data-config="{&quot;label&quot;:&quot;源码&quot;}" __cid="cYVb2Qv"> 
            <i xid="i12" __cid="cYVb2Qv" class="cYVb2Qv"/>  
            <span xid="span10" __cid="cYVb2Qv" class="cYVb2Qv">源码</span> 
          </a>  
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cYVb2Qv" xid="jsBtnTwo" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:jsClick" data-config="{&quot;label&quot;:&quot;js&quot;}" __cid="cYVb2Qv"> 
            <i xid="i13" __cid="cYVb2Qv" class="cYVb2Qv"/>  
            <span xid="span11" __cid="cYVb2Qv" class="cYVb2Qv">js</span> 
          </a> 
        </div>  
        <div component="$model/UI2/system/components/justep/list/list" class="x-list cYVb2Qv" xid="list1" data-bind="component:{name:'$model/UI2/system/components/justep/list/list'}" data-config="{&quot;data&quot;:&quot;informationData&quot;}" __cid="cYVb2Qv"> 
          <ul class="x-list-template hide cYVb2Qv" xid="listTemplateUl1" __cid="cYVb2Qv" data-bind="foreach:{data:$model.foreach_list1($element),afterRender:$model.foreach_afterRender_list1.bind($model,$element)}"> 
            <li xid="li3" __cid="cYVb2Qv" class="cYVb2Qv"> 
              <div component="$model/UI2/system/components/justep/row/row" class="x-row cYVb2Qv" xid="row1" data-bind="component:{name:'$model/UI2/system/components/justep/row/row'}" __cid="cYVb2Qv"> 
                <div class="x-col cYVb2Qv" xid="col1" __cid="cYVb2Qv"> 
                  <a xid="a4" __cid="cYVb2Qv" class="cYVb2Qv" data-bind="text:ref('fTitle')">link</a> 
                </div>  
                <div class="x-col x-col-fixed cYVb2Qv" xid="col3" style="width:auto;" __cid="cYVb2Qv"> 
                  <label xid="label3" __cid="cYVb2Qv" class="cYVb2Qv" data-bind="text:ref('fTime')">label</label> 
                </div> 
              </div> 
            </li> 
          </ul> 
        </div> 
      </div>  
      <div component="$model/UI2/system/components/justep/controlGroup/controlGroup" class="x-control-group pull-left cYVb2Qv" xid="controlGroupThree" style="height:250px;width:48%;" data-bind="component:{name:'$model/UI2/system/components/justep/controlGroup/controlGroup'}" data-config="{&quot;title&quot;:&quot;工作日志&quot;}" __cid="cYVb2Qv"> 
        <div class="x-control-group-title cYVb2Qv" xid="controlGroupTitle8" style="height:40px;" __cid="cYVb2Qv"> 
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm btn-only-icon cYVb2Qv" xid="button5" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-config="{&quot;icon&quot;:&quot;icon-android-book&quot;,&quot;label&quot;:&quot;button&quot;}" __cid="cYVb2Qv"> 
            <i xid="i5" class="icon-android-book cYVb2Qv" __cid="cYVb2Qv"/>  
            <span xid="span22" __cid="cYVb2Qv" class="cYVb2Qv"/> 
          </a>  
          <span xid="span16" __cid="cYVb2Qv" class="cYVb2Qv">title</span>  
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cYVb2Qv" xid="sourceBtnThree" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:sourceBtnThreeClick" data-config="{&quot;label&quot;:&quot;源码&quot;}" __cid="cYVb2Qv"> 
            <i xid="i15" __cid="cYVb2Qv" class="cYVb2Qv"/>  
            <span xid="span13" __cid="cYVb2Qv" class="cYVb2Qv">源码</span> 
          </a>  
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cYVb2Qv" xid="jsBtnThree" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:jsClick" data-config="{&quot;label&quot;:&quot;js&quot;}" __cid="cYVb2Qv"> 
            <i xid="i14" __cid="cYVb2Qv" class="cYVb2Qv"/>  
            <span xid="span12" __cid="cYVb2Qv" class="cYVb2Qv">js</span> 
          </a> 
        </div>  
        <div xid="div11" style="height:158px;" __cid="cYVb2Qv" class="cYVb2Qv"> 
          <img src="@justepContextPath@/v_a4c79990f80643f0bf38979925295153l_zh_CNs_desktopd_pc/demo/pcSample/layout/img/information11.png" alt="" xid="image2" style="height:168px;width:144px;" class="pull-left image cYVb2Qv" __cid="cYVb2Qv"/>  
          <div xid="div10" style="height:149px;width:auto;" class="pull-left div9 cYVb2Qv" __cid="cYVb2Qv"> 
            <div component="$model/UI2/system/components/justep/list/list" class="x-list cYVb2Qv" xid="list4" data-bind="component:{name:'$model/UI2/system/components/justep/list/list'}" data-config="{&quot;data&quot;:&quot;informationData&quot;}" __cid="cYVb2Qv"> 
              <ul class="x-list-template hide cYVb2Qv" xid="listTemplateUl4" __cid="cYVb2Qv" data-bind="foreach:{data:$model.foreach_list4($element),afterRender:$model.foreach_afterRender_list4.bind($model,$element)}"> 
                <li xid="li6" __cid="cYVb2Qv" class="cYVb2Qv"> 
                  <div component="$model/UI2/system/components/justep/row/row" class="x-row cYVb2Qv" xid="row4" data-bind="component:{name:'$model/UI2/system/components/justep/row/row'}" __cid="cYVb2Qv"> 
                    <div class="x-col cYVb2Qv" xid="col9" __cid="cYVb2Qv"> 
                      <a xid="a7" __cid="cYVb2Qv" class="cYVb2Qv" data-bind="text:ref('fTitle')">link</a> 
                    </div>  
                    <div class="x-col x-col-fixed cYVb2Qv" xid="col8" style="width:auto;" __cid="cYVb2Qv"> 
                      <label xid="label8" __cid="cYVb2Qv" class="cYVb2Qv" data-bind="text:ref('fTime')">label</label> 
                    </div> 
                  </div> 
                </li> 
              </ul> 
            </div> 
          </div> 
        </div> 
      </div>  
      <div component="$model/UI2/system/components/justep/controlGroup/controlGroup" class="x-control-group pull-right cYVb2Qv" xid="controlGroupFour" style="height:250px;width:48%;" data-bind="component:{name:'$model/UI2/system/components/justep/controlGroup/controlGroup'}" data-config="{&quot;title&quot;:&quot;通知公告&quot;}" __cid="cYVb2Qv"> 
        <div class="x-control-group-title cYVb2Qv" xid="controlGroupTitle10" style="height:40px;" __cid="cYVb2Qv"> 
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cYVb2Qv" xid="sourceBtnFour" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:sourceBtnFour" data-config="{&quot;label&quot;:&quot;源码&quot;}" __cid="cYVb2Qv"> 
            <i xid="i17" __cid="cYVb2Qv" class="cYVb2Qv"/>  
            <span xid="span17" __cid="cYVb2Qv" class="cYVb2Qv">源码</span> 
          </a>  
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cYVb2Qv" xid="jsBtnTour" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:jsClick" data-config="{&quot;label&quot;:&quot;js&quot;}" __cid="cYVb2Qv"> 
            <i xid="i16" __cid="cYVb2Qv" class="cYVb2Qv"/>  
            <span xid="span15" __cid="cYVb2Qv" class="cYVb2Qv">js</span> 
          </a>  
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm btn-only-icon cYVb2Qv" xid="button4" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-config="{&quot;disabled&quot;:true,&quot;icon&quot;:&quot;icon-android-star&quot;,&quot;label&quot;:&quot;button&quot;}" __cid="cYVb2Qv"> 
            <i xid="i4" class="icon-android-star cYVb2Qv" __cid="cYVb2Qv"/>  
            <span xid="span20" __cid="cYVb2Qv" class="cYVb2Qv"/> 
          </a>  
          <span xid="span19" __cid="cYVb2Qv" class="cYVb2Qv">title</span> 
        </div>  
        <div component="$model/UI2/system/components/justep/list/list" class="x-list cYVb2Qv" xid="list3" data-bind="component:{name:'$model/UI2/system/components/justep/list/list'}" data-config="{&quot;data&quot;:&quot;informationData&quot;}" __cid="cYVb2Qv"> 
          <ul class="x-list-template hide cYVb2Qv" xid="listTemplateUl3" __cid="cYVb2Qv" data-bind="foreach:{data:$model.foreach_list3($element),afterRender:$model.foreach_afterRender_list3.bind($model,$element)}"> 
            <li xid="li5" __cid="cYVb2Qv" class="cYVb2Qv"> 
              <div component="$model/UI2/system/components/justep/row/row" class="x-row cYVb2Qv" xid="row3" data-bind="component:{name:'$model/UI2/system/components/justep/row/row'}" __cid="cYVb2Qv"> 
                <div class="x-col cYVb2Qv" xid="col6" __cid="cYVb2Qv"> 
                  <a xid="a6" __cid="cYVb2Qv" class="cYVb2Qv" data-bind="text:ref('fTitle')">link</a> 
                </div>  
                <div class="x-col x-col-fixed cYVb2Qv" xid="col7" style="width:auto;" __cid="cYVb2Qv"> 
                  <label xid="label5" __cid="cYVb2Qv" class="cYVb2Qv" data-bind="text:ref('fTime')">label</label> 
                </div> 
              </div> 
            </li> 
          </ul> 
        </div> 
      </div>  
      <div component="$model/UI2/system/components/justep/controlGroup/controlGroup" class="x-control-group pull-left cYVb2Qv" xid="controlGroupFive" style="height:250px;width:48%;" data-bind="component:{name:'$model/UI2/system/components/justep/controlGroup/controlGroup'}" data-config="{&quot;title&quot;:&quot;标准规范&quot;}" __cid="cYVb2Qv"> 
        <div class="x-control-group-title cYVb2Qv" xid="controlGroupTitle12" style="height:40px;" __cid="cYVb2Qv"> 
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cYVb2Qv" xid="sourceBtnFive" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:sourceBtnFive" data-config="{&quot;label&quot;:&quot;源码&quot;}" __cid="cYVb2Qv"> 
            <i xid="i18" __cid="cYVb2Qv" class="cYVb2Qv"/>  
            <span xid="span18" __cid="cYVb2Qv" class="cYVb2Qv">源码</span> 
          </a>  
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cYVb2Qv" xid="jsBtnFive" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:jsClick" data-config="{&quot;label&quot;:&quot;js&quot;}" __cid="cYVb2Qv"> 
            <i xid="i8" __cid="cYVb2Qv" class="cYVb2Qv"/>  
            <span xid="span5" __cid="cYVb2Qv" class="cYVb2Qv">js</span> 
          </a>  
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm btn-only-icon cYVb2Qv" xid="button6" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-config="{&quot;disabled&quot;:true,&quot;icon&quot;:&quot;icon-android-calendar&quot;,&quot;label&quot;:&quot;button&quot;}" __cid="cYVb2Qv"> 
            <i xid="i6" class="icon-android-calendar cYVb2Qv" __cid="cYVb2Qv"/>  
            <span xid="span24" __cid="cYVb2Qv" class="cYVb2Qv"/> 
          </a>  
          <span xid="span23" __cid="cYVb2Qv" class="cYVb2Qv">title</span> 
        </div>  
        <div component="$model/UI2/system/components/justep/list/list" class="x-list cYVb2Qv" xid="list5" data-bind="component:{name:'$model/UI2/system/components/justep/list/list'}" data-config="{&quot;data&quot;:&quot;informationData&quot;}" __cid="cYVb2Qv"> 
          <ul class="x-list-template hide cYVb2Qv" xid="listTemplateUl5" __cid="cYVb2Qv" data-bind="foreach:{data:$model.foreach_list5($element),afterRender:$model.foreach_afterRender_list5.bind($model,$element)}"> 
            <li xid="li7" __cid="cYVb2Qv" class="cYVb2Qv"> 
              <div component="$model/UI2/system/components/justep/row/row" class="x-row cYVb2Qv" xid="row5" data-bind="component:{name:'$model/UI2/system/components/justep/row/row'}" __cid="cYVb2Qv"> 
                <div class="x-col cYVb2Qv" xid="col11" __cid="cYVb2Qv"> 
                  <a xid="a8" __cid="cYVb2Qv" class="cYVb2Qv" data-bind="text:ref('fTitle')">link</a> 
                </div>  
                <div class="x-col x-col-fixed cYVb2Qv" xid="col10" style="width:auto;" __cid="cYVb2Qv"> 
                  <label xid="label9" __cid="cYVb2Qv" class="cYVb2Qv" data-bind="text:ref('fTime')">label</label> 
                </div> 
              </div> 
            </li> 
          </ul> 
        </div> 
      </div>  
      <div component="$model/UI2/system/components/justep/controlGroup/controlGroup" class="x-control-group pull-right cYVb2Qv" xid="controlGroupSixe" style="height:250px;width:48%;" data-bind="component:{name:'$model/UI2/system/components/justep/controlGroup/controlGroup'}" data-config="{&quot;title&quot;:&quot;内部审核&quot;}" __cid="cYVb2Qv"> 
        <div class="x-control-group-title cYVb2Qv" xid="controlGroupTitle13" style="height:40px;" __cid="cYVb2Qv"> 
          <a component="$model/UI2/system/components/justep/button/button" xid="sourcrBtnSixe" class="btn btn-link btn-sm pull-right cYVb2Qv" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:sourcrBtnSixe" data-config="{&quot;label&quot;:&quot;源码&quot;}" __cid="cYVb2Qv"> 
            <i xid="i10" __cid="cYVb2Qv" class="cYVb2Qv"/>  
            <span xid="span8" __cid="cYVb2Qv" class="cYVb2Qv">源码</span> 
          </a>  
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm pull-right cYVb2Qv" xid="jsBtnSixe" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:jsClick" data-config="{&quot;label&quot;:&quot;js&quot;}" __cid="cYVb2Qv"> 
            <i xid="i9" __cid="cYVb2Qv" class="cYVb2Qv"/>  
            <span xid="span6" __cid="cYVb2Qv" class="cYVb2Qv">js</span> 
          </a>  
          <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link btn-sm btn-only-icon cYVb2Qv" xid="button7" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-config="{&quot;disabled&quot;:true,&quot;icon&quot;:&quot;icon-edit&quot;,&quot;label&quot;:&quot;button&quot;}" __cid="cYVb2Qv"> 
            <i xid="i7" class="icon-edit cYVb2Qv" __cid="cYVb2Qv"/>  
            <span xid="span26" __cid="cYVb2Qv" class="cYVb2Qv"/> 
          </a>  
          <span xid="span25" __cid="cYVb2Qv" class="cYVb2Qv">title</span> 
        </div>  
        <div component="$model/UI2/system/components/justep/list/list" class="x-list cYVb2Qv" xid="list6" data-bind="component:{name:'$model/UI2/system/components/justep/list/list'}" data-config="{&quot;data&quot;:&quot;informationData&quot;}" __cid="cYVb2Qv"> 
          <ul class="x-list-template hide cYVb2Qv" xid="listTemplateUl6" __cid="cYVb2Qv" data-bind="foreach:{data:$model.foreach_list6($element),afterRender:$model.foreach_afterRender_list6.bind($model,$element)}"> 
            <li xid="li8" __cid="cYVb2Qv" class="cYVb2Qv"> 
              <div component="$model/UI2/system/components/justep/row/row" class="x-row cYVb2Qv" xid="row6" data-bind="component:{name:'$model/UI2/system/components/justep/row/row'}" __cid="cYVb2Qv"> 
                <div class="x-col cYVb2Qv" xid="col13" __cid="cYVb2Qv"> 
                  <a xid="a9" __cid="cYVb2Qv" class="cYVb2Qv" data-bind="text:ref('fTitle')">link</a> 
                </div>  
                <div class="x-col x-col-fixed cYVb2Qv" xid="col12" style="width:auto;" __cid="cYVb2Qv"> 
                  <label xid="label10" __cid="cYVb2Qv" class="cYVb2Qv" data-bind="text:ref('fTime')">label</label> 
                </div> 
              </div> 
            </li> 
          </ul> 
        </div> 
      </div> 
    </div> 
  </div> 
</div>
