<?xml version="1.0" encoding="UTF-8"?>

<div xmlns="http://www.w3.org/1999/xhtml" xid="window" class="window cuQRzMn" component="$model/UI2/system/components/justep/window/window" design="device:pc" data-bind="component:{name:'$model/UI2/system/components/justep/window/window'}" __cid="cuQRzMn" components="$model/UI2/system/components/justep/model/model,$model/UI2/system/components/justep/loadingBar/loadingBar,$model/UI2/system/components/justep/button/button,$model/UI2/system/components/justep/row/row,$model/UI2/system/components/justep/panel/child,$model/UI2/system/components/justep/window/window,$model/UI2/system/components/justep/button/buttonGroup,$model/UI2/system/components/justep/panel/panel,">  
  <style xmlns="" xmlns:xhtml="http://www.w3.org/1999/xhtml">hr.cuQRzMn{margin-top: 5px; background-color: red} .btn1.cuQRzMn{margin-top: 5px; border: 1px solid rgb(232, 238, 235)} .btn-group.cuQRzMn{background: linear-gradient(rgb(236, 244, 242), white 90%)} .btn-group.cuQRzMn .btn.active.cuQRzMn{background-color: rgb(208, 223, 232); color: black}</style>  
  <div xmlns="" component="$model/UI2/system/components/justep/model/model" xid="model" style="display:none" data-bind="component:{name:'$model/UI2/system/components/justep/model/model'}" __cid="cuQRzMn" class="cuQRzMn"/>  
  <div xmlns="" component="$model/UI2/system/components/justep/panel/panel" class="x-panel x-full pc7RBFVn-iosstatusbar cuQRzMn" xid="panel1" data-bind="component:{name:'$model/UI2/system/components/justep/panel/panel'}" __cid="cuQRzMn"> 
    <div class="x-panel-top cuQRzMn" xid="top1" component="$model/UI2/system/components/justep/panel/child" data-bind="component:{name:'$model/UI2/system/components/justep/panel/child'}" __cid="cuQRzMn"> 
      <h4 xid="h41" __cid="cuQRzMn" class="cuQRzMn">纵向列表滑动
        <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link cuQRzMn" xid="jsBtn" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:jsBtnClick" data-config="{&quot;label&quot;:&quot;JS&quot;}" __cid="cuQRzMn"> 
          <i xid="i5" __cid="cuQRzMn" class="cuQRzMn"/>  
          <span xid="span5" __cid="cuQRzMn" class="cuQRzMn">JS</span> 
        </a>  
        <a component="$model/UI2/system/components/justep/button/button" class="btn btn-link cuQRzMn" xid="sourceBtn" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:sourceBtnClick" data-config="{&quot;label&quot;:&quot;源码&quot;}" __cid="cuQRzMn"> 
          <i xid="i6" __cid="cuQRzMn" class="cuQRzMn"/>  
          <span xid="span7" __cid="cuQRzMn" class="cuQRzMn">源码</span> 
        </a> 
      </h4> 
    </div>  
    <div class="x-panel-content cuQRzMn" xid="content1" component="$model/UI2/system/components/justep/panel/child" data-bind="component:{name:'$model/UI2/system/components/justep/panel/child'}" __cid="cuQRzMn"> 
      <div component="$model/UI2/system/components/justep/row/row" class="x-row cuQRzMn" xid="row1" style="height:100%;width:100%;" data-bind="component:{name:'$model/UI2/system/components/justep/row/row'}" __cid="cuQRzMn"> 
        <div class="x-col x-col-fixed cuQRzMn" xid="col1" style="width:120px;" __cid="cuQRzMn"> 
          <div component="$model/UI2/system/components/justep/button/buttonGroup" class="btn-group  cuQRzMn" xid="buttonGroup1" style="width:100px;height:188px;" data-bind="component:{name:'$model/UI2/system/components/justep/button/buttonGroup'}" data-config="{&quot;selected&quot;:&quot;button1&quot;,&quot;tabbed&quot;:true}" __cid="cuQRzMn"> 
            <a component="$model/UI2/system/components/justep/button/button" class="btn1 btn btn-link cuQRzMn" xid="button1" style="width:100px;" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:buttonOneClick" data-config="{&quot;label&quot;:&quot;选项1&quot;}" __cid="cuQRzMn"> 
              <i xid="i1" __cid="cuQRzMn" class="cuQRzMn"/>  
              <span xid="span1" __cid="cuQRzMn" class="cuQRzMn">选项1</span> 
            </a>  
            <a component="$model/UI2/system/components/justep/button/button" class="btn1 btn btn-link cuQRzMn" xid="button2" style="width:100px;" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:buttonTwoClick" data-config="{&quot;label&quot;:&quot;选项2&quot;}" __cid="cuQRzMn"> 
              <i xid="i2" __cid="cuQRzMn" class="cuQRzMn"/>  
              <span xid="span2" __cid="cuQRzMn" class="cuQRzMn">选项2</span> 
            </a>  
            <a component="$model/UI2/system/components/justep/button/button" class="btn1 btn btn-link cuQRzMn" xid="button3" style="width:100px;" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:buttonThreeClick" data-config="{&quot;label&quot;:&quot;选项3&quot;}" __cid="cuQRzMn"> 
              <i xid="i3" __cid="cuQRzMn" class="cuQRzMn"/>  
              <span xid="span3" __cid="cuQRzMn" class="cuQRzMn">选项3</span> 
            </a>  
            <a component="$model/UI2/system/components/justep/button/button" class="btn1 btn btn-link cuQRzMn" xid="button4" style="width:100px;" data-bind="component:{name:'$model/UI2/system/components/justep/button/button'}" data-events="onClick:buttonFourClick" data-config="{&quot;label&quot;:&quot;选项4&quot;}" __cid="cuQRzMn"> 
              <i xid="i4" __cid="cuQRzMn" class="cuQRzMn"/>  
              <span xid="span4" __cid="cuQRzMn" class="cuQRzMn">选项4</span> 
            </a> 
          </div> 
        </div>  
        <div class="x-col cuQRzMn" xid="col3" style="white-space:nowrap;overflow-x:hidden;overflow-y:scroll;height:100%;border-style:solid solid solid solid;border-width:1px 1px 1px 1px;border-color:#DFF7F3 #DFF7F3 #DFF7F3 #DFF7F3;" __cid="cuQRzMn"> 
          <div id="div1" xid="div1" style="height:69px;width:118px;" __cid="cuQRzMn" class="cuQRzMn"> 
            <label xid="label1" __cid="cuQRzMn" class="cuQRzMn">选项内容1</label>  
            <hr xid="hr1" style="height:2px;" __cid="cuQRzMn" class="cuQRzMn"/> 
          </div>  
          <div xid="div5" style="width:426px;height:80%;" __cid="cuQRzMn" class="cuQRzMn"> 
            <div xid="div9" style="height:27px;width:332px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span6" style="width:188px;font-weight:900;color:#FF0080;" __cid="cuQRzMn" class="cuQRzMn">点击菜单跳转到指定位置</span> 
            </div>  
            <div xid="div10" style="height:27px;width:332px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span8" style="width:188px;" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容1</span> 
            </div>  
            <div xid="div19" style="height:27px;width:332px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span17" style="width:188px;" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容1</span> 
            </div>  
            <div xid="div20" style="height:27px;width:332px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span18" style="width:188px;" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容1</span> 
            </div>  
            <div xid="div21" style="height:27px;width:332px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span19" style="width:188px;" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容1</span> 
            </div>  
            <div xid="div22" style="height:27px;width:332px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span20" style="width:188px;" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容1</span> 
            </div>  
            <div xid="div23" style="height:27px;width:332px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span21" style="width:188px;" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容1</span> 
            </div>  
            <div xid="div24" style="height:27px;width:332px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span22" style="width:188px;" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容1</span> 
            </div> 
          </div>  
          <div id="div2" xid="div2" style="height:69px;width:118px;" __cid="cuQRzMn" class="cuQRzMn"> 
            <label xid="label2" __cid="cuQRzMn" class="cuQRzMn">选项内容2</label>  
            <hr xid="hr2" style="height:2px;" __cid="cuQRzMn" class="cuQRzMn"/> 
          </div>  
          <div xid="div6" style="width:426px;height:80%;" __cid="cuQRzMn" class="cuQRzMn"> 
            <div xid="div25" style="height:27px;width:336px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span6" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容2</span> 
            </div>  
            <div xid="div26" style="height:27px;width:336px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span23" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容2</span> 
            </div>  
            <div xid="div27" style="height:27px;width:336px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span24" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容2</span> 
            </div>  
            <div xid="div28" style="height:27px;width:336px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span25" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容2</span> 
            </div>  
            <div xid="div29" style="height:27px;width:336px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span26" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容2</span> 
            </div>  
            <div xid="div30" style="height:27px;width:336px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span27" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容2</span> 
            </div>  
            <div xid="div31" style="height:27px;width:336px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span28" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容2</span> 
            </div>  
            <div xid="div32" style="height:27px;width:336px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span29" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容2</span> 
            </div> 
          </div>  
          <div id="div3" xid="div3" style="height:69px;width:118px;" __cid="cuQRzMn" class="cuQRzMn"> 
            <label xid="label3" __cid="cuQRzMn" class="cuQRzMn">选项内容3</label>  
            <hr xid="hr3" style="height:2px;" __cid="cuQRzMn" class="cuQRzMn"/> 
          </div>  
          <div xid="div7" style="width:426px;height:80%;" __cid="cuQRzMn" class="cuQRzMn"> 
            <div xid="div33" style="height:27px;width:292px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span6" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容3</span> 
            </div>  
            <div xid="div34" style="height:27px;width:292px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span30" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容3</span> 
            </div>  
            <div xid="div35" style="height:27px;width:292px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span31" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容3</span> 
            </div>  
            <div xid="div36" style="height:27px;width:292px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span32" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容3</span> 
            </div>  
            <div xid="div37" style="height:27px;width:292px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span33" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容3</span> 
            </div>  
            <div xid="div38" style="height:27px;width:292px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span34" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容3</span> 
            </div>  
            <div xid="div39" style="height:27px;width:292px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span35" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容3</span> 
            </div>  
            <div xid="div40" style="height:27px;width:292px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span36" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容3</span> 
            </div> 
          </div>  
          <div id="div4" xid="div4" style="height:69px;width:118px;" __cid="cuQRzMn" class="cuQRzMn"> 
            <label xid="label4" __cid="cuQRzMn" class="cuQRzMn">选项内容4</label>  
            <hr xid="hr4" style="height:2px;" __cid="cuQRzMn" class="cuQRzMn"/> 
          </div>  
          <div xid="div8" style="width:426px;height:80%;" __cid="cuQRzMn" class="cuQRzMn"> 
            <div xid="div41" style="height:27px;width:340px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span6" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容4</span> 
            </div>  
            <div xid="div42" style="height:27px;width:340px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span37" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容4</span> 
            </div>  
            <div xid="div43" style="height:27px;width:340px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span38" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容4</span> 
            </div>  
            <div xid="div44" style="height:27px;width:340px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span39" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容4</span> 
            </div>  
            <div xid="div45" style="height:27px;width:340px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span40" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容4</span> 
            </div>  
            <div xid="div46" style="height:27px;width:340px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span41" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容4</span> 
            </div>  
            <div xid="div47" style="height:27px;width:340px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span42" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容4</span> 
            </div>  
            <div xid="div48" style="height:27px;width:340px;" __cid="cuQRzMn" class="cuQRzMn"> 
              <span xid="span43" __cid="cuQRzMn" class="cuQRzMn">这里是选项内容4</span> 
            </div> 
          </div>  
          <a xid="aOne" href="#div1" __cid="cuQRzMn" class="cuQRzMn"/>  
          <a xid="aTwo" href="#div2" __cid="cuQRzMn" class="cuQRzMn"/>  
          <a xid="aThree" href="#div3" __cid="cuQRzMn" class="cuQRzMn"/>  
          <a xid="aFour" href="#div4" __cid="cuQRzMn" class="cuQRzMn"/> 
        </div> 
      </div> 
    </div>  
    <style __cid="cuQRzMn" class="cuQRzMn">.x-panel.pc7RBFVn-iosstatusbar &gt;.x-panel-top {height: 48px;}.x-panel.pc7RBFVn-iosstatusbar &gt;.x-panel-content { top: 48px;bottom: nullpx;}.x-panel.pc7RBFVn-iosstatusbar &gt;.x-panel-bottom {height: nullpx;}.iosstatusbar .x-panel.pc7RBFVn-iosstatusbar &gt;.x-panel-top,.iosstatusbar .x-panel .x-panel-content .x-has-iosstatusbar.x-panel.pc7RBFVn-iosstatusbar &gt;.x-panel-top {height: 68px;}.iosstatusbar .x-panel.pc7RBFVn-iosstatusbar &gt;.x-panel-content,.iosstatusbar .x-panel .x-panel-content .x-has-iosstatusbar.x-panel.pc7RBFVn-iosstatusbar &gt;.x-panel-content { top: 68px;}.iosstatusbar .x-panel .x-panel-content .x-panel.pc7RBFVn-iosstatusbar &gt;.x-panel-top {height: 48px;}.iosstatusbar .x-panel .x-panel-content .x-panel.pc7RBFVn-iosstatusbar &gt;.x-panel-content {top: 48px;}</style> 
  </div> 
</div>
