  
 .col-xs-6{
 	 border: 1px solid #eee;
 	 padding:10px 15px;
 }
 .x-list-template li:first-child{
 	 border-top: 1px solid #eee;
 }
.sTitle{
	border-bottom:1px solid #eee;
}
.x-list{
	margin-top:-10px;
}