.portal-main [xid='configDialog'] .x-dialog {
	opacity: 0.8;
}

.portal-main .debug-mode{
		background: red;
		color: #FFF;
		padding: 6px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		font-weight: 700;
		font-size: 14px;	
}