.x-tree-template { /*
	color: black;
	background: #fff;
	font: bold 17px Helvetica;
	border-bottom: 1px solid #B4B4B4;
	*/
	padding: 0;
	margin: 0px 5px 5px 5px;
}

.x-tree-template > li{
	min-height: 200px;
	padding-bottom: 24px;
}