.search{
	margin-top: -47px;
}
.kemu{
	text-align: center;
	margin-top: 5px;
}
.x-col img{
	text-align: center;
}
.img{
	height:50px; 
	width: 50%;
}
.kecheng{
	border-left: 30px #000 solid;
	font-size: 20px;
	margin-top: 10px;
	height: auto;
}
.css1{margin-left: 30px;clear: both;}
.css1>div{
	float: left;
	color:#999999;
	
	margin-top: 10px;
}
.btn-group a{
	font-size: 14px;
	color:#fff;
}
.btn-group .btn{
	padding:0px;
}
